@model IEnumerable<Pharmacy.Models.Products>

@{
    ViewData["Title"] = "Product List";
    Layout = "~/Views/Dashboard/_Layout.cshtml";
}

<h1>Product List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered datatable table-hover">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ProdName)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>$@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.Stock)</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImagePath))
                    {
                        <img src="@item.ImagePath" alt="Product Image" style="max-width: 100px; max-height: 100px;" />
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
